{{!-- 下拉選單 --}}
<div class="d-flex-inline my-5 text-center">
  <a class="dropdown-toggle btn btn-outline-secondary" style="width: 40%" href="#" role="button" data-bs-toggle="dropdown"
    aria-expanded="false">類別</a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">全部</a></li>
    <li><a class="dropdown-item" href="#">家居物業</a></li>
    <li><a class="dropdown-item" href="#">交通出行</a></li>
    <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
    <li><a class="dropdown-item" href="#">餐飲食品</a></li>
    <li><a class="dropdown-item" href="#">其他</a></li>
  </ul>
</div>

<div class="d-inline-flex justify-content-center mb-5">
  總金額：<h1 class="mx-5">$80</h1>
</div>

<div class="d-flex-inline text-center mx-auto" style="width: 40%">
  <ul class="list-group mb-5">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <i class='fa-solid fa-utensils ms-4' style="font-size: 1.5em"></i>
      <div class="d-flex flex-column mx-5">
        <div>飲食</div>
        <div>2023/5/6</div>
      </div> 
      
      <span class="badge bg-primary rounded-pill me-5" style="font-size: 0.95em">80</span>
      <div>
        <a href="#" class="btn">修改</a>
        <a href="#" class="btn">刪除</a>
      </div>
    </li>
</ul>
</div>
<div class="container text-center">
  <button class="btn btn-primary" style="width: 30%">新增支出</button>
</div>